*{
	box-sizing: border-box;
}

body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
	margin: 0;
}

/********************************/

nav{
	/*display: flex;*/
	/*flex-direction: column;*/
	/*position: relative;*/
	/*position: -webkit-sticky;*/
	/*position: sticky;*/
	/*top: 0;*/
	/*background-color: white;*/
	/*width: 100%;*/
}

.navUpper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*position: relative;*/
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	box-shadow: 1px 1px 1px #888888; 
	/*height: 80px;*/
	transition: 0.4s;
	/*position: -webkit-sticky;*/
	/*position: sticky;*/
	/*top: 0;*/
	background-color: white;
	/*width: 100%;*/
	/*z-index: 1;*/
}

nav img{
	margin: 5px 0 5px 10px;
	height: 70px;
	/*height: 80%;*/
	transition: 0.4s;
}

.hamburger{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 10px;
	height: 24px;
	width: 36px;
	transition: 0.4s;
}

.hamburger div{
    width: 25px;
    height: 2px;
    margin: 2px auto;
    border-radius: 2px;
    background-color: black;
}

.navRight{
	display: none;
	flex-direction: column;
	position: fixed;
	right: 0;
	/*top: 0;*/
	width: 200px;
	height: 100vh;
	background-color: rgb(102, 102, 102);
}

.hamburgerClose{
	align-self: flex-end;
	position: relative;
	margin: 5px 10px;
	height: 70px;
	width: 36px;
}

.hamburgerClose:before, .hamburgerClose:after{
	content: '';
	position: absolute;
	top: 50%;
	right: 5px;
    width: 25px;
    height: 2px;
    border-radius: 2px;
    background-color: white;
}

.hamburgerClose:before{
	-webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
	transform: rotate(45deg);
}

.hamburgerClose:after{
	-webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
	transform: rotate(-45deg);
}

nav ul{
	align-self: flex-start;
	list-style-type: none;
	margin: 0 5%;
	padding: 0;
	width: 90%;
	border-top: 1px solid rgb(140, 140, 140);
}

nav ul a{
	display: block;;
	padding: 10px;
	text-decoration: none;
	color: white;
}

nav ul a:hover{
	background-color: #888888;
}

/********************************/

section{
	flex: 1;
	margin-top: 80px;
	padding: 0px 20px;
	background-color: rgba(236, 242, 248, 1);
	box-shadow: 1px 1px 1px #888888; 
}

section > div, form{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px 0;
	padding: 5px 0;
	background-color: white;
	border: 1px solid #888888;
	border-radius: 5px;
}

section img{
	height: 150px;
	width: 150px;
	margin: 10px 0;
}

h1{
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: 500;
}

section p{
	margin: 5px 0;
	text-align: center;
}

/********************************/

form div{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.contactText h1{
	text-align: center;
}

.contactText p{
	text-align: left;
	margin: 0 5% 5px 5%;
}

label{
	margin: 10px 0 0 5%;
}

input, textarea{
	align-self: center;
	margin: 12px 0;
	padding: 12px;
	width: 90%;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
}

input[type=submit]{
	width: 150px;
}

.thankyou_message{
	display: none;
}

/********************************/

footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin:25px 15px;
}

footer img{
	height: 50px;
}

footer div{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

footer div p{
	margin: 5px;
}

footer a{
	/*font-style: italic;*/
	text-decoration: none;
	color: #3AAFD5;
}











