html, body{
	height: 100%;
	margin: 0;
	font-family: sans-serif;
	line-height: 1.5;
}
/*****************************************************/
/********************* Background ********************/
/*****************************************************/
.navSectionIndex{
	height: 100vh;
	width: 100%;
	background: url("../img/latte_3_mobile_2.jpg") no-repeat center;
	background-size: cover;
}

.navSectionAbout{
	height: 50vh;
	width: 100%;
	background: url("../img/coffee_machine.jpg") no-repeat center;
	background-size: cover;
}

.navSectionMenu{
	height: 50vh;
	width: 100%;
	background: url("../img/sandwich.jpg") no-repeat center;
	background-size: cover;
}

.navSectionCatering{
	height: 50vh;
	width: 100%;
	background: url("../img/catering.jpg") no-repeat center;
	background-size: cover;
}

.navSectionLocation{
	height: 50vh;
	width: 100%; 
	background: url("../img/cafe.jpg") no-repeat center;
	background-size: cover;
}
/*****************************************************/
/********************** Nav Bar **********************/
/*****************************************************/
nav{
	display: flex;
	flex-direction: column;
	background-color: rgba(100,100,100,0.7);
	justify-content: space-between;
}

.navRowUpper{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.logo img{
	display: flex;
	justify-content: center;
	max-width: 70px;
	margin: 5px;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul a{
	text-decoration: none;
	color: white;
	display: block;
	padding: 5px 10px;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

nav a:hover{
	color: rgba(36,240,240,1);
}

.social a{
	text-indent: -100000px;
	background: url("../img/insta.png") no-repeat center;
	background-size: 80%;
	max-width: 15px;
	margin: auto;
}

.links, .social{
	display: none;
}

/****************************************************
/********************* Hamburger *********************/
/*****************************************************/
.hamburger{
	display: flex;
	align-self: center;
	margin-right: 15px;
}

.hamburger div{
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 3px auto;
}

.hamburgerClose{
	align-self: center;
	margin-right: 15px;
	padding: 0 7px;
	display: none;
}

/********************************************************/
/********************* Main Content *********************/
/********************************************************/
.intro, .about, .menu, .catering, .location{
	margin: 30px 30px;
	text-align: justify;
	font-size: 15px;
}

.intro p, .about p, .menu p, .catering p, .location p{
	padding: 0 5%;
}

.center{
	text-align: center;
}

h2 {
	font-size: 20px;
	width: 100%; 
	text-align: center; 
	border-bottom: 1px solid #000; 
	line-height: 0.1em;
	margin: 25px 0; 
} 

h2 span { 
	background:#fff; 
    padding:0 15px; 
}
/********************************************************/
/************************ Footer ************************/
/********************************************************/
footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: rgba(0,0,0,0.6);
	color: white;
}

footer img{
	max-width: 120px;
	margin: 20px;
}

footer div{
	margin: 0 20px;
}

.footerTitle{
	font-size: 18px;
}

.footerText{
	font-size: 15px;
	color: rgba(255,255,255,0.8);
}

.instaFooter{
	max-width: 30px;
	margin: 0 0 5px 0;
}

.copyright{
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0.6);
}

.copyright a{
	text-decoration: none;
	color: white;
}
/******************************************************/
/******************** Menu Section ********************/
/******************************************************/
/*.menu div{
	display: flex;
	flex-flow: wrap;
	justify-content: space-around;
}*/

.menu{
	text-align: left;
}

.menu > div{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.category{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 3px solid black;
	border-bottom: 2px solid black;
}

.price{
	display: flex;
}

.price div{
	display: flex;
	flex-direction: column;
	margin: 0 7px;
	line-height: 1;
}

.price p{
	margin: 2px 0;
}

.priceInline{
	display: flex;
	justify-content: space-between;
}

.priceInline p{
	margin: 7px 0;
}
/******************************************************/
/****************** Catering Section ******************/
/******************************************************/

.note{
	color: red;
}

.orderForm{
	display: flex;
	flex-direction: column;
	margin: 0 auto 15px;
}
	
.orderForm > *{
	margin: 0 auto;
}

.orderForm label{
	padding: 3px;
	width: 100%;
	max-width: 380px;
	text-align: left;
}

.orderForm > input{
	width: 100%;
	max-width: 380px;
}

input.qty{
	width: 27px;
}

select{
	font-size: 16px;
}

select:focus{
	font-size: 16px;
}

.orderForm input[type=text]{
	color: grey;
	font-size: 16px;
	padding: 7px 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.orderForm input[type=date]{
	font-size: 16px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.orderForm input[type=button]{
	width: 200px;
	font-size: 16px;
}

.dateSection{
	display: flex;
}

.dateSection label{
	font-size: 16px;
	align-self: center;
}

.dateSection img{
	padding: 0 5px;
	max-height: 25px;
	align-self: center;
}
/******************************************************/
/****************** Location Section ******************/
/******************************************************/
.map{
	margin: 15px auto;
	width: 100%;
	height: 500px;
	border: 0;
}
/******************************************************/
/****************** Larger Screens ********************/
/******************************************************/
@media screen and (min-width: 768px){
	nav{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		position: sticky;
		top: 0;
	}

	.navRowUpper{
		border-bottom: none;
	}

	.logo{
		margin-left: 30px;
	}

	.links, .social{
		display: flex;
	}

	.hamburger{
		display: none;
	}

	nav ul{
		display: flex;
		align-self: flex-end;
	}

	.social a{
		justify-content: flex-end;
	}

	nav ul a, ul.social{
		background-color: transparent;
		border-bottom: none;
	}

	.social{
		justify-content: flex-end;
	}

	.social a{
		background-size: 60%;
		padding-right: 40px;
	}

	footer{
		flex-direction: row;
	}

	footer div{
		width: 40%;
		margin: 0 20px;
	}

	.copyright{
		text-align: center;
	}

	.navSectionIndex{
		background: url("../img/latte_3.jpg") no-repeat center;
		background-size: cover;
	}

	/*********************** Catering ***********************/
	input.qty{
		width: 30px;
	}
}













